.buddyHeader {
  color: $buddy-pink;
  font-family: "playfair-black";
  font-size: 3rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 900;
  background: white;
  flex: 0 1 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buddyFooter {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  flex: 0 1 40px;
}

.buddyMain {
  background-color: $buddy-dark;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1 1 auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.buddyMain::-webkit-scrollbar {
  display: none;
}

.buddyContainer {
  background: $buddy-grey;
  width: 70%;
  max-width: 800px;
  flex: 1 1 auto;
  padding-bottom: 40px;
}

.buddyChatbox {
  height: 100%;
  padding: 2rem 1rem;
  color: white;
  flex: 1 1 0%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.buddyChatbox::-webkit-scrollbar {
  display: none;
}

.buddyForm {
  position: relative;
  height: 40px;
  background-color: $buddy-grey;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
  z-index: 500;

  form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    input {
      height: 100%;
      width: 70%;
      border: hidden;
      background-color: $buddy-grey;
      color: $buddy-dark;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    button {
      all: unset;
      cursor: pointer;
      background: $buddy-pink;
      border-radius: 15px;
      color: white;
      padding: 0.5rem;

      &:hover {
        background: $buddy-grey;
      }
    }
  }
}

.buddyMessageBot {
  max-width: 50%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
  margin-left: auto;

  .buddyChatBubble {
    background: $buddy-pink;
    display: inline-block;
    border-radius: 15px;
    padding: 1rem;
    min-width: 150px;
    p {
      margin: 0.5rem 0;
    }
  }
}

.buddyMessageUser {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;

  .buddyChatBubble {
    background: $buddy-dark;
    display: inline-block;
    border-radius: 15px;
    padding: 1rem;
    min-width: 150px;

    p {
      margin: 0.5rem 0;
    }
  }
}

.buddyTimeStamp {
  color: $buddy-dark;
  font-size: 10px;
  padding: 0.25rem;
}

.buddyUserIcon {
  background-color: $buddy-dark;
  color: $buddy-grey;
  margin-right: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  margin-top: 1.2rem;
  p {
    font-size: 36px;
  }
}

.buddyBotIcon {
  border-radius: 50%;
}

.buddyBotIconHeader {
  border-radius: 50%;
}

.buddyIconContainer {
  position: relative;
  height: 80px;
  width: 80px;
}

//LOADING SPINNER

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
